<div class="contextual">
	<%= link_to_function 'Voltar', "history.back()", :class => 'icon icon-reload' %>
</div>
<h1>Novo Risco</h1>

<%= render 'form' %>

<%= link_to_function 'Back', "history.back()" %>
